### IntelliJ IDEA ###
.idea/
*.iml
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Compiled Java class files ###
out/

### Visual Paradigm Backup Files ###
kenken.vpp.*
.kenken.vpp.*

### Illustrator Files ###
*.ai

### EXE data folder ###
EXE/**/data/

### META-INF ###
META-INF/

### Mac OS ###
.DS_Store
